<div class="max-w-screen-xl mx-auto">
  <h1 class="font-bold text-4xl py-5">Legal</h1>
  <h2 class="font-bold text-2xl">Crypto Bank User Agreement</h2>

  <p class="text-xl py-4">This agreement (the “Agreement”) is for customers who reside outside Australia, Canada, the United States of America, United Kingdom, European Economic Area, Andorra, Faroe Islands, Gibraltar, Guernsey, Isle of Man, Japan, Jersey, Monaco, New Zealand, San Marino, Singapore and Switzerland.</p>

  <p class="text-xl py-4">This is a contract between you and:</p>


  <p class="text-xl py-4">References in this Agreement to "Crypto Bank", "we", "our" or "us", are to Coinbase US, and references to "you" or "your" are to the person with whom Coinbase enters into this Agreement.</p>

  <p class="text-xl py-4">
    We refer to the Digital Currency Services and Additional Services (all defined below) collectively as the "Coinbase Services", which can be accessed via the platform operated by Coinbase (the “Coinbase Platform”) (including the online platform which is accessible via the Site or at such location as may be prescribed by Coinbase from time to time).

    By signing up to use an account through coinbase.com or pro.coinbase.com, or any of our associated websites, application programming interfaces (“APIs”), or mobile applications (collectively the "Site"), you agree that you have read, understood, and accept all of the terms and conditions contained in this Agreement, as well as our Privacy Policy and Cookie Policy.
  </p>

  <p class="text-xl py-4">*You should be aware that the risk of loss in trading or holding Digital Currencies can be substantial. As with any asset, the value of Digital Currencies can go up or down and there can be a substantial risk that you lose money buying, selling, holding, or investing in digital currencies. Digital Currency Services and Additional Services are not currently regulated by the Central Bank of Kenya, or any other regulator in Kenya. In accordance with the Central Bank of Kenya’s circular No. 14 of 2015, Digital Currencies are not legal tender in Kenya and as such no protection exists for you in the event that Coinbase faces financial difficulties. You should carefully consider whether trading or holding Digital Currencies is suitable for you in light of your financial condition.*</p>
</div>
