<section class="w-full">
  <header class="w-full h-24 flex justify-between items-center px-10">
    <img src="/assets/images/bitcoin.svg" alt="bitcoin-logo">
    <div class="flex justify-center items-center gap-x-10">
      <p>Buy & Sell</p>
      <p>Send & Receive</p>
      <p>Invest & Profit</p>
    </div>
    <input type="search" placeholder="Search Coin" class="border border-[#f5b300] w-full max-w-sm px-4 py-1 rounded-md outline-0 focus:shadow-lg"/>
  </header>
  <main class="max-w-screen-xl h-full min-h-[80vh] mx-auto">
    <div class="text-center pt-10 text-lg font-bold">
      <p class="py-4">My balance</p>
      <p class="text-4xl">$300.46</p>
    </div>
    <div class="mt-16">

      <div class="relative overflow-x-auto">
        <table class="w-full text-lg text-left text-gray-500 dark:text-gray-400">
          <thead class="text-lg text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 rounded-l-lg">
              Name
            </th>
            <th scope="col" class="px-6 py-3">
              Amount
            </th>
            <th scope="col" class="px-6 py-3 rounded-r-lg">
              Date
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-3xl">
              Bitcoin
            </th>
            <td class="px-6 py-4 text-3xl">
              300.46
            </td>
            <td class="px-6 py-4 text-3xl">
              26/12/2023
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </main>
  <footer class="flex justify-center items-center sticky bottom-0 text-[#f5b300]">
    <div>
      <nav>
        <ul class="flex justify-around items-center gap-x-7">
          <li>Home</li>
          <li>Careers</li>
          <li>Legal % Privacy</li>
          <li>&copy; 2023 Bitcoin</li>
        </ul>
      </nav>
    </div>
  </footer>
</section>
